<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      ¿Desea poder borrar citas en el inicio (frase aleatoria)?
    </ion-label>
    <ion-toggle 
      [(ngModel)]="permitirBorrarCita" 
      (ionChange)="toggleEliminarCita()"
      aria-label="Botón que permite eliminar la visualización de la cita aleatoria en la página principal">
    </ion-toggle>
  </ion-item>
</ion-content>

